@media (max-width: 991px) {     

    .logo-index-img{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 70%;
    } 

    
    .navbar-brand{
        margin-right: 0 !important;
        text-align: end !important;
    }
    
    .logo-nav-icon {
        margin-right: 0 !important;
        width: 15% !important;
    }
    
    li > a > img {
       width: 3.5% !important;
    }

    li{
        border-bottom: 1px solid rgba(199, 194, 194, 0.472);
        text-align: center;
    }    
}