th { font-size: 16px; color: white;}
td { font-size: 12px;   }
#example_filter { font-size: 12px; color: white; }
#example_length { font-size: 12px; color: white;}
tr { opacity: 0.75;}
.redunded {border-radius: 15px}
#example_info{color: white; font-size:10px;}
#example_paginate{font-size:10px; color:white}

.dataTables_wrapper .dataTables_paginate .paginate_button { color: white !important;}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #f5f6f7;
}