

table th {
    text-align: center;
    font-size: 12px;
}

td {
    align-items: center;
    text-align: center;
}

.container-form{
    background-color: rgba(61, 61, 61, 0.63);
}
 
.ui-autocomplete{
    z-index: 1050 !important;
}

.ui-widget-content{
    font-size: 13px !important;
    border: none;
    border-radius: 5px;
}


.modal-footer-custom{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding-bottom: 1rem !important;
    border-top: 1px solid #e9ecef !important;
}

.alert-custom {
    position: relative !important;
    padding: .75rem 1.25rem !important;
    border: 1px solid transparent !important;
    width: 100% !important;
}

.invalid-input{
    border: 0.5px solid red !important;
}

.disabled:disabled {
    background: #ccc;
}

.modal__finaly__sucess {
    background-color: transparent;
    margin: 0.5rem;
    border-radius: 50%;
    border: solid 3px #ef4700;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 15px;
}

.fas.fa-check {
    color: #ef4700;
    font: bold;
    font-size: 32px;
}